<div class="container">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 background-content">
			<h1>登録病院情報編集</h1>

			<%= render 'form', hospital: @hospital %>

			<%= link_to '詳細', @hospital, class: "btn btn-warning" %>
			<%= link_to '一覧', hospitals_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>