<div class="hospital-index">
  <div class="row">
    <p id="notice">
      <%= notice %>
    </p>

    <%= render 'search', search: @search %>

    <% if @results.any? %>
    <%= render 'result', results: @results %>
    <% end %>

    <% if @results.nil? %>
    <h2>条件にあう検索結果はありませんでした。</h2>
    <% end %>
  </div>
</div>