<div class="top-background">
      <div class="container">
      	<div class="row">
      		<div class="col-xs-12 col-sm-7">
      		<br>
      		<br>
      		<br>
      		<br>
      		<br>
        <h1>ペットに合った病院を見つける</h1>
        <p>先に詳しい病院の条件を指定して探す。または現在地から近くの病院を素早く探すことが出来ます。</p>
        <br>
        <br>
        <br>
        <%= link_to '条件を指定して探す', search_path, class: "btn btn-primary btn-lg" %>
        <span>　</span>
        <%= link_to '現在地から探す', maps_path, class: "btn btn-warning btn-lg" %>
      </div>
  </div>
  </div>
</div>