/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootswatch/cosmo/variables";
 @import "bootstrap";
 @import "bootswatch/cosmo/bootswatch";
 @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
 @import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

 body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.background {
  background-image: url(/images/memphis-colorful.png);
}

.row .background-content {
  background-image: url(/images/crossword.png);
  // background: rgba(255,255,255,0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // display: inline-block;
  @extend .has-error;
}

ul, li {
  list-style: none;
}

.navbar-default .navbar-toggle {
  border-color: #eee;
  border-radius: 10px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
	vertical-align: middle;
	text-align: center;
}

h1 {
  padding: 0.4em 0.5em;
  color: #494949;
  background: #f4f4f4;
  border-left: solid 5px orange;
  border-bottom: solid 3px #d7d7d7;
}

h2 {
  width: 100%;
  padding: 0.5em;
  position: relative;
  background: -webkit-repeating-linear-gradient(-45deg, #fff, #fff 4px, rgba(204,102,51,.1) 4px, rgba(204,102,51,.1) 8px);
  background: repeating-linear-gradient(-45deg, #fff, #fff 4px, rgba(204,102,51,.1) 4px, rgba(204,102,51,.1) 8px);
}
h2:before, h2:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 3px, #3878d1 3px, #3878d1 6px, white 6px, white 9px, deeppink 9px, deeppink 12px);
  background: repeating-linear-gradient(135deg, #fff, #fff 3px, #3878d1 3px, #3878d1 6px, white 6px, white 9px, deeppink 9px, deeppink 12px);
}
h2:before { top: -4px; }
h2:after { bottom: -4px; }

h3 {
  width: 100%;
  padding: 0.5em;
  position: relative;
  border-bottom: 5px solid #ccc;
}

h3:after {
  content: '';
  width: 30%;
  height: 5px;
  background-color: #cc6633;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 1;
}

// ハンバーガーアイコン
.menu-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 15px;
  transform:scale(0.8); //要素を拡大・縮小表示する
  padding: 0;
  cursor: pointer; //マウスカーソルが変わる
  z-index:20; //　//z-index がより大きな要素が、より小さな要素の上にかぶさる
}
.menu-bar {
  width: 50px;
  height: 5px;
  background: orange;
  position: absolute;
  transition: all 0.5s; //変化するすべてのプロパティへの適用
}
.menu-bar1 {
  margin-top: 9px
}
.menu-bar2 {
  margin-top: 23px
}
.menu-bar3 {
  margin-top: 37px
}
.menu-icon.hover .menu-bar1 {
  -webkit-transform:
  rotate(45deg) scaleX(0.7);
  margin-top: 22px;
}
.menu-icon.hover .menu-bar2 {
  opacity: 0
}
.menu-icon.hover .menu-bar3 {
  -webkit-transform: rotate(-45deg) scaleX(0.7);
  margin-top: 22px;
}
// ナビゲーションバー
.menu {
  width: 100%;
  height: 75px;
  position: fixed;
  display: -webkit-flex;
  display: flex; //要素の横並び
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; //折り返し
  z-index: 1;
}

.menu-con {
  -webkit-flex-grow: 1;
  flex-basis: 0; //基本幅
  flex-grow: 1; //伸び率(basisに影響、自動的に決まる)
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:space-around;
  position:relative;
  top: -200px;
  transition:all 0.5s;
  z-index:1;
}
// 後で消す
.menu-con p {
  margin: 0;
  height:20px;
  -webkit-align-self:center;
  color:white;
  font-size:25px;
  z-index:2;
  cursor:pointer;
}
.menu-con p:before {
  content: "";
  display: block;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height: 100%;
  opacity: 1;
  background: rgba(0,0,0,0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-con:hover p:before {
  background: rgba(0,0,0,0.2);
}
//
.menu-con a {
  // height:20px;
  text-decoration: none;
  -webkit-align-self:center;
  color:white;
  font-size:25px;
  z-index:2;
  cursor:pointer;
}
//
.menu-con a:before {
  content: "";
  display: block;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height: 100%;
  opacity: 1;
  background: rgba(0,0,0,0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-con:hover a:before {
  background: rgba(0,0,0,0.2);
}
@media screen and (min-width: 768px) {
  // .menu-icon {display: none;}
}

@media screen and (max-width: 767px) {
  .menu-con {min-width:100%;}
}

// バッジカラー
.badge-orange{
  background-color: orange;
  border-radius: 50%;
}
.badge-pink{
  background-color: #cc3366;
}
/*ファイル選択*/

.msr_file {
  padding-bottom: 20px;
  width: 460px;
}

.msr_file label {
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display:block;
  font-size:14px;
  padding: 10px;
  position:relative;
  height: 40px;
  width: 230px;
}
.msr_file label::before {
  content:"＋";
  color:#2780E3;
  font-size:20px;
  line-height:1;
  margin-top: -9px;
  right:10px;
  position:absolute;
  top:50%;
}
.msr_file input[type=file] {
  display: none;
}

/*送信ボタン*/
.msr_sendbtn{
  margin:20px 0;
}

.msr_sendbtn input[type=submit] {
  background-color: #FFFFFF;
  border:1px solid #ccc;
  border-radius: 2px;
  color: #333333;
  cursor:pointer;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
}
.msr_sendbtn input[type=submit]:hover {
  background-color: orange;
  color: #FFFFFF;
}

// ナビメニュー

i{
  font-size: 1.3em;
  color: inherit;
}

.navbar {
  border-radius: 0;
}

.navbar .navbar-inner {
  padding: 0;
}

.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}

.navbar .nav li {
  display: table-cell;
  float: none;
}

.navbar .nav li a {
  font-weight: bold;
  text-align: center;
}