// top
.top-background {
	width: 100%;
	height: 613px;
	background-image: url(/images/toraDSC00442_TP_V.jpg);
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
}

.top-background h1 {
	color: white;
	border: 0;
	background: none;
}
.top-background p {
	color: white;
}
// search
.search-box {
	width: 95%;
	margin: 50px auto;
	padding: 30px 30px;
	color: #000000;
	border-radius: 30px;
	background-color: #F4F5F7;
	box-shadow: 0px 0px 0px 10px #F4F5F7;
	border: dashed 5px white;
}
.search-box .form-group {
	margin: 30px 10%;
}
.search-box .form-text {
	margin: 20px 15% 0;
}
.search-box label {
	margin-top: 10px;
	margin-right: 10px;
}
.search-box input {
	margin-right: 10px;
}
.search-box .form-btn {
	padding: 0 25%;
}
.search-not-result {
	width: 75%;
	margin: 100px auto 100px;
	text-align: center;
}
// ボタン
table .table-btn a:not(.btn),
.table .table-btn a:not(.btn) {
	text-decoration: none;
}

// 詳細ボタン
a.cp_primary {
	position: relative;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #ff6f00;
	border:solid 1px #fff;
	overflow: hidden;
}
a.cp_primary:before {
	content:"";
	position: absolute;
	top: -25px;
	left: -20px;
	height:90px;
	width:20px;
	background : #fff;
	opacity: 0.3;
	transform: rotate(40deg);
	transition: 0.3s;
}
a.cp_primary:hover:before {
	left:98%;
}
a.cp_primary:hover {
	color: #fff;
}
// 編集ボタン
a.cp_success {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border:1px solid #8BC34A;
	background: #8BC34A;
	overflow: hidden;
	z-index: 1 !important;
}
a.cp_success:after {
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background : #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
a.cp_success:hover {
	color: #8BC34A;
}
a.cp_success:hover:after {
	height: 250%;
	opacity: 1;
}
a.cp_success:active:after {
	height: 350%;
	opacity: 1;
}
// 削除ボタン
a.cp_destroy {
	position: relative;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #EC407A;
	border:1px solid #fff;
	overflow: hidden;
}
a.cp_destroy:before {
	content:"";
	position: absolute;
	top: 0px;
	left: -150px;
	height: 100%;
	width: 160px;
	background : #fff;
	opacity: 0.3;
	transition: .4s;
}
a.cp_destroy:hover:before {
	left:0;
}
a.cp_destroy:hover {
	text-decoration: none;
	color: #fff;
}

//
.hos-mb-50 {
	margin-bottom: 50px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
// show
.hos-mt-30 {
	margin-top: 30px;
}
.hos-mt-15 {
	margin-top: 15px;
}
.hos-mt-15 .badge {
	margin-bottom: 10px;
}
.hos-button {
	margin-top: 50px;
	margin-bottom: 50px;
}

.hos-mt-15 li {
	text-align: center;
}