<div map-index>
	<div id="map"></div>
</div>
<script>
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: { id: 'map' } },
		function() {
			markers = handler.addMarkers(<%=raw @hash.to_json %>);
			handler.bounds.extendWith(markers);
			// 全てのマーカーが地図に収まるように
			// handler.fitMapToBounds();
			// geolocationに対応しているかどうか
		if (navigator.geolocation) {
			alert("この端末では位置情報が取得できます");
		} else {
			alert("この端末では位置情報が取得できません");
		}
		// 現在地を取得する
		navigator.geolocation.getCurrentPosition(function(position) {
			handler.getMap().setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
		});
		// 初期縮尺
		handler.getMap().setZoom(14);
	});
</script>